// Import page-specific CSS files here.
@import "home";


h2 {
  color: $dark-blue;
  margin: 20px 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafb;
}

.organize{
  padding-left: 10px ;
}
