// Import page-specific CSS files here.
@import "home";

h1 {
  margin: 35px 0;
  font-size: 50px;
  i {
    color: $blue;
    background-color: #1f46903d;
  }
}

h2 {
  color: $dark-blue;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafb;
}

.info {
  display: flex;
}
