// Import page-specific CSS files here.
@import "home";

.header p {
  margin: 35px 0;
  font-size: 20px;
  font-weight: 500;
  i {
    color: $blue;
    background-color: #1f46903d;
  }
}

h2 {
  color: $dark-blue;
  margin: 20px 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafb;
}

.organize{
  padding-left: 10px ;
}
