<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-sm-6">
      <div class="wrapper" id="booking-recap-wrapper">
        <div class="booking-recap-container">
          <div class="text-center">
            <h1>Ta réservation</h1>
            <h2>en attente de confirmation</h2>
            <h4> <%= "#{@booking.vehicle.user.first_name}'s #{@booking.vehicle.name}"%></h4>
            <%= "#{@booking.start_date.strftime('%d/%m/%Y')} - #{@booking.end_date.strftime('%d/%m/%Y')}"%>
            <h3><%= @booking.price %>€</h3>
            <div class="btn-show-more">
              <%= link_to "Show me other vehicles", vehicles_path, class: "btn btn-blue" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
