<div class="page">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/andrea-marketing/rollin" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/andrea.santosf/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/andrea.santosfreire" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/Steady__ROLLIN" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/andrea-santos-freire/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      Roll quick, Roll safe
    </div>
  </div>
</div>
