<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1596100829892-44093cec9d46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2816&q=80);">
  <div class="container">
    <h1> Let's find you <i class="highlight">a cool vehicle!</i> </h1>
    <p> What city will you be in? </p>
      <%= form_tag vehicles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-blue" %>
      <% end %>
  </div>
</div>
