.form-select {
  width: 78%;
  border-radius: 200px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: none;
  color: $black;
}

.form-control {
  width: 78%;
  border-radius: 200px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white !important;
  border: none;
  color: $black;
}

.form > h3 {
  color: $blue;
  font-size: 30px;
  margin-bottom: 20px;
}

.mapboxgl-ctrl-geocoder{
  border-radius: 200px;
  width: 100%;
  font-size: 1px;
  line-height: 1px;
}


.mapboxgl-ctrl-geocoder--input {
  border-radius: 200px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

.form input{
  background-color: white;
  border: none;
  color: $black;
  margin-top: 2px;
}

.flatpickr-input {
  border: 1px solid black;
}
