.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top:0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#newbutton {
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #1F4690;
  transition: background 0.3s ease;
  text-decoration: none;
}
