<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Réservations</h2>

    <%= simple_form_for([@vehicle, @booking]) do |f| %>
      <%= f.input :start_date, as: :string, required: true, input_html: {id: "range_start",  class:"range"} %>
      <%= f.input :end_date, as: :string, required: true, input_html: {id: "range_end", class:"range"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary", placeholder: "Make a reservation" %>
    <% end %>
  </div>
</div>
