<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3 class="form-title"> Add a new vehicle </h3>
      <%= render "form", vehicle: @vehicle %>
    </div>
  </div>
</div>
